@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animated {
  opacity: 0;
  &.fade-up {
    opacity: 1;
    animation: fade-up .7s ease;
  }
  &.fade-down {
    opacity: 1;
    animation: fade-down 1s ease;
  }
  &.pulse {
    opacity: 1;
    animation: pulse 2s infinite;
  }
}
