<div id="footer">
  <div class="container">
    <div id="contact" class="hp-anchor-link"></div>
    <p><b>CONTACT</b></p>
    <p><i class="fas fa-phone"></i> 0600000000</p>
    <p><i class="fas fa-envelope"></i> contact@skifood.fr</p>
  </div>
</div>
