#hpCarousel {
  .carousel-item {
    height: 100vh;
    background-size: cover;
    .carousel-caption {
      bottom: 20%;
    }
  }
  .scroll-down-link {
    position: absolute;
    bottom: 0;
    padding-bottom: 60px;
    width: 100%;
    text-align: center;
    i {
      color: white;
      font-size: 40px;
    }
  }
}
