.dish-cards {
  margin: 10px 0 30px 0;
  .dish-card {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin: 10px 0;
    img {
      height: 100%;
      width: 120px;
      object-fit: cover;
    }
    .dish-card-right {
      padding: 16px;
      width: 100%;
      h3 {
        font-family: "Adam CG Pro", "Helvetica", "sans-serif";
        font-size: 16px;
        font-weight: bold;
      }
      .dish-card-infos {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        span {
          font-size: 14px;
          line-height: 1.4;
        }
        .dish-card-price {
          font-weight: 600;
        }
      }
    }
  }
}




