.categories {
  .category-title {
    display:flex;
    align-items: center;
    margin: 10px;
    h2 {
      margin: 0 20px 0 0;
    }
    svg {
      width: 100%;
      margin-bottom: 10px;
      fill: $red;
    }
  }
}

@media (max-width: 400px) {
  .categories h2 {
    font-size: 1.5rem;
  }

}
