.categories-container {
  margin: 30px 0;
  position: relative;
  #menu {
    position: absolute;
    top: calc(-30px - #{$navbar-height});
  }
  h2 {
    margin-left: 10px;
  }
}

@media (max-width: 400px) {
  .categories-container h2 {
    font-size: 1.5rem;
  }

}
