.dish-form {
  label {
    font-weight: 600;
  }
  textarea {
    min-height: 110px;
  }
  .ingredients-wrapper {
    .ingredient-field {
      background-color: #dfdfdf;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        font-size: 20px;
        padding: 10px 20px;
      }
    }
  }
  .submit-btn {
    padding: 20px;
    background-color: $red;
    color: white;
    font-weight: 600;
    opacity: 0.9;
    transition: opacity .2s ease;
    border-radius: 3px;
    &:hover {
      opacity: 1;
    }
  }
}
