.dish-form {
  label {
    font-weight: 600;
  }
  textarea {
    min-height: 110px;
  }
  .ingredients-wrapper {
    .ingredient-field {
      background-color: #dfdfdf;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        font-size: 20px;
        padding: 10px 20px;
      }
    }
  }
}
