.dish-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  .edit-dish {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: $dark-gray;
    border-radius: 50%;
    border: 3px solid white;
    opacity: 0.8;
    transition: opacity .3s ease;
    &:hover {
      opacity: 1;
    }
  }
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .dish-card-info {
    padding: 25px 55px 30px 55px;
    background-color: white;
    .dish-card-info-top {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      h1 {
        margin: 0 15px 0 0;
        padding-right: 15px;
        padding-top: 5px;
        border-right: 1px solid $gray;
        font-size: 30px;
        text-align: center;
        color: $red;

      }
      span {
        font-weight: 600;
      }
    }
    .ingredients-grid {
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 5px;
      border-top  : 2px dashed $dark-gray;
      border-bottom: 2px dashed $dark-gray;
      text-align: center;
    }
    p {
      margin-top: 25px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 575px) {
  .dish-card .edit-dish-card {
    right: 20px;
  }
}

@media (max-width: 550px) {
  .dish-card .dish-card-info {
    padding-left: 30px;
    padding-right: 30px;
    .dish-card-info-top {
      padding-left: 0;
      padding-right: 0;
      h1 {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 400px) {
  .dish-card .dish-card-info {
    padding-left: 20px;
    padding-right: 20px;
    .dish-card-info-top {
      padding-left: 0;
      padding-right: 0;
      h1 {
        margin-right: 10px;
        padding-right: 10px;
        font-size: 19px;
      }
    }
    .ingredients-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}
