.dish-grid {
  margin: 10px 0 30px 0;
  .dish-grid-card {
    position: relative;
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin: 10px 0;
    img {
      height: 100%;
      width: 120px;
      object-fit: cover;
    }
    .dish-grid-card-right {
      padding: 0 16px;
      width: 100%;
      h3 {
        font-family: "Adam CG Pro", "Helvetica", "sans-serif";
        font-size: 16px;
        font-weight: bold;
      }
      .dish-grid-card-infos {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        span {
          font-size: 14px;
          line-height: 1.4;
          text-transform: capitalize;
          &:first-child {
            margin-right: 10px;
          }
        }
        .dish-grid-card-price {
          font-weight: 600;
          flex-shrink: 0;
        }
      }
    }
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 400px) {
  .dish-grid {
    .dish-grid-card {
      height: 150px;
      .dish-grid-card-right h3 {
        font-size: 14px;
      }
    }
  }
}



