$navbar-height: 80px;

.navbar-skifood {
  justify-content: space-between;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  padding: 9px 0 9px 25px;
  top: 0;
  z-index: 100;
  width: 100%;
  height: $navbar-height;
  transition: background .4s ease;
  .navbar-brand {
    display: flex;
    align-items: flex-start;
    color: $dark-gray;
    transition: color .4s ease;
    svg {
      width: 45px;
      margin-right: 20px;
      #haut, #bas {
        fill: $dark-gray;
        transition: fill .4s ease;
      }
      #steak {
        fill: $red;
        transition: fill .4s ease;
      }
    }
    .navbar-name {
      font-family: "Azedo Bold", "Helvetica", "sans-serif";
      line-height: 1;
      font-size: 50px;
      span:nth-child(2) {
        color: $red;
      }
    }
  }
  .navbar-collapse {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
      background-color: white;
      padding: 0 25px;
    border-top: 1px solid #d7d7d7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: height 0.35s ease, background .4s ease;
    .navbar-nav {
      padding: 10px 0;
    }
  }
  #menu-toggle {
    padding: 15px 25px;
    &:focus {
      outline: none;
    }
    .menu-toggle-inner {
      display: flex;
      padding: 0;
      position: relative;
      align-items: center;
      height: 30px;
      width: 40px;
      span {
        height: 2px;
        width: 100%;
        background-color: $red;
        transition: background-color .2s linear;
      }
      &:before, &:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        background-color: $dark-gray;
        transition: top .1s linear .1s, bottom .1s linear .1s, transform .1s linear, background-color .2s linear;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
    }
    &.active .menu-toggle-inner {
      span {
        background-color: transparent;
        transition: background-color .2s linear;
      }
      &:before {
        top: 14px;
        transform: rotate(45deg);
        transition: top .1s linear, transform .1s linear .1s;
      }
      &:after {
        bottom: 14px;
        transform: rotate(-45deg);
        transition: bottom .1s linear, transform .1s linear .1s;
      }
    }
  }
  &.navbar-transparent {
    background-color: transparent;
    box-shadow: none;
    .navbar-brand {
      color: white;
      transition: color .4s ease;
      svg {
        #haut, #bas {
          fill: white;
          transition: fill .4s ease;
        }
        #steak {
          fill: white;
          transition: fill .4s ease;
        }
      }
    }
    .navbar-collapse {
      background-color: rgba(255, 255, 255, 0.7);
      transition: height 0.35s ease, background .4s ease;
    }
    #menu-toggle .menu-toggle-inner {
      &:before, &:after {
        background-color: white;
      }
    }
  }
}

@media (max-width: 400px) {
  .navbar-skifood {
    .navbar-brand {
      margin-right: 0;
      svg {
        width: 35px;
      }
      .navbar-name {
        font-size: 40px;
      }
    }
    #menu-toggle {
      .menu-toggle-inner {
        height: 26px;
        width: 35px;
      }
      &.active .menu-toggle-inner {
        &:before {
          top: 12px;
        }
        &:after {
          bottom: 12px;
        }
      }
    }
  }

}

@media (min-width: 768px) {
  .navbar-skifood .navbar-collapse {
    position: initial;
    border-top: none;
    box-shadow: none;
  }
}
