.navbar-skifood {
  justify-content: space-between;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  padding: 8px 0 8px 25px;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: background .4s ease;
  .navbar-brand {
    display: flex;
    align-items: flex-start;
    color: $dark-gray;
    transition: color .4s ease;
    svg {
      width: 45px;
      margin-right: 20px;
      #haut, #bas {
        fill: $dark-gray;
        transition: fill .4s ease;
      }
      #steak {
        fill: $red;
        transition: fill .4s ease;
      }
    }
    .navbar-name {
      font-family: "Azedo Bold", "Helvetica", "sans-serif";
      line-height: 1;
      font-size: 50px;
      span:nth-child(2) {
        color: $red;
      }
    }
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  #menu-toggle {
    padding: 15px 25px;
    &:focus {
      outline: none;
    }
    .menu-toggle-inner {
      display: flex;
      padding: 0;
      position: relative;
      align-items: center;
      height: 30px;
      width: 40px;
      span {
        height: 2px;
        width: 100%;
        background-color: $red;
        transition: background-color .2s linear;
      }
      &:before, &:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        background-color: $dark-gray;
        transition: top .1s linear .1s, bottom .1s linear .1s, transform .1s linear, background-color .2s linear;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
    }
    &.active .menu-toggle-inner {
      span {
        background-color: transparent;
        transition: background-color .2s linear;
      }
      &:before {
        top: 14px;
        transform: rotate(45deg);
        transition: top .1s linear, transform .1s linear .1s;
      }
      &:after {
        bottom: 14px;
        transform: rotate(-45deg);
        transition: bottom .1s linear, transform .1s linear .1s;
      }
    }
  }
  &.navbar-transparent {
    background-color: transparent;
    box-shadow: none;
    .navbar-brand {
      color: white;
      transition: color .4s ease;
      svg {
        #haut, #bas {
          fill: white;
          transition: fill .4s ease;
        }
        #steak {
          fill: white;
          transition: fill .4s ease;
        }
      }
    }
    #menu-toggle .menu-toggle-inner {
      &:before, &:after {
        background-color: white;
      }
    }
  }
}

