$navbar-height: 80px;

.navbar-container {
  background-color: white;
  position: fixed;
  top: 0;
  height: $navbar-height;
  z-index: 1001;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  .navbar-skifood {
    justify-content: space-between;
    padding-top: 9px;
    padding-bottom: 9px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .navbar-brand {
      display: flex;
      align-items: center;
      color: $dark-gray;
      svg {
        width: 45px;
        margin-right: 20px;
        #haut, #bas {
          fill: $dark-gray;
        }
        #steak {
          fill: $red;
        }
      }
      .navbar-name {
        width: 180px;
      }
    }
    .navbar-right {
      display: flex;
      align-items: center;
      #menu-toggle {
        padding: 15px 25px;
        &:focus {
          outline: none;
        }
        .menu-toggle-inner {
          display: flex;
          padding: 0;
          position: relative;
          align-items: center;
          height: 30px;
          width: 40px;
          span {
            height: 2px;
            width: 100%;
            background-color: $red;
            transition: background-color .2s linear;
          }
          &:before, &:after {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            background-color: $dark-gray;
            transition: top .1s linear .1s, bottom .1s linear .1s, transform .1s linear, background-color .2s linear;
          }
          &:before {
            top: 0;
          }
          &:after {
            bottom: 0;
          }
        }
        &.active .menu-toggle-inner {
          span {
            background-color: transparent;
            transition: background-color .2s linear;
          }
          &:before {
            top: 14px;
            transform: rotate(45deg);
            transition: top .1s linear, transform .1s linear .1s;
          }
          &:after {
            bottom: 14px;
            transform: rotate(-45deg);
            transition: bottom .1s linear, transform .1s linear .1s;
          }
        }
      }
      .navbar-collapse {
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        padding: 0 25px;
        background-color: white;
        border-top: 1px solid #d7d7d7;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        transition: height 0.35s ease, background .4s ease;
        .navbar-nav {
          padding: 10px 0;
        }
      }
      .language-selector {
        padding: 10px 0 10px 10px;
        button {
          width: 30px;
          border: none;
          background-color: transparent;
          padding: 0;
          &:focus {
            outline: none;
          }
        }
        .dropdown-menu {
          min-width: 0;
          .dropdown-item {
            padding: 10px 15px;
            svg {
              width: 35px;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 575px) {
  .navbar-container .navbar-skifood {
    padding: 9px 25px;
    .navbar-brand {
      margin-right: 0;
      svg {
        width: 40px;
      }
      .navbar-name {
        width: 151px;
      }
    }
    .navbar-right {
      #menu-toggle {
        padding: 15px 20px;
      }
      .language-selector button {
        width: 25px;
      }
    }
  }
}

@media (max-width: 400px) {
  .navbar-container .navbar-skifood {
    padding: 9px 15px;
    .navbar-brand {
      margin-right: 0;
      svg {
        width: 30px;
      }
      .navbar-name {
        width: 130px;
      }
    }
    .navbar-right {
      #menu-toggle {
        padding: 15px 10px;
        .menu-toggle-inner {
          height: 26px;
          width: 35px;
        }
        &.active .menu-toggle-inner {
          &:before {
            top: 12px;
          }
          &:after {
            bottom: 12px;
          }
        }
      }
      .language-selector {
        padding: 10px 0px 10px 5px;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-container .navbar-skifood .navbar-right .navbar-collapse {
    position: initial;
    border-top: none;
    box-shadow: none;
  }
}
