// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  scroll-behavior: smooth;
}


a {
  color: $dark-gray
}

h2 {
  color: $red;
  font-weight: 600;
}

.main-container {
  min-height: calc(100vh - 180px);
  margin-top: $navbar-height;
}

.mt-110 {
  margin-top: 110px;
}
