// Graphical variables
@import "config/animations";
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  scroll-behavior: smooth;
}


a {
  color: $dark-gray;
  &:hover {
    color: $red;
    text-decoration: none;
  }
}

h2 {
  color: $red;
  font-weight: 600;
}

.main-container {
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
  margin-top: $navbar-height;
}

.mt-110 {
  margin-top: 110px;
}

.section {
  margin: 50px auto;
  position: relative;
}

.hp-anchor-link {
  position: absolute;
  top: calc(-30px - #{$navbar-height});
}


@media (max-width: 575px) {
  .section {
    padding-left: 0;
    padding-right: 0;
  }
}
